{{photo-slide slide=currentSlide}}
<div class='photo-links'>
  <div class='photo-links-spacer'>
    <div class='forward-icon'>
      <div class='arrow-placeholder'>
        {{#if showBackArrow}}
          <icon class='glyphicon glyphicon-triangle-left' {{action 'changeShowingIdx' -1}}></icon>
        {{/if}}
      </div>
    </div>
    {{#each showingSlides as |slide index|}}
      {{slide-link selected=(eq referenceIdx index) slide=slide index=index switchIdxManually='switchIdxManually'}}
    {{/each}}
    <div class='backward-icon'>
      <div class='arrow-placeholder'>
        {{#if showForwardArrow}}
          <icon class='glyphicon glyphicon-triangle-right' {{action 'changeShowingIdx' 1}}></icon>
        {{/if}}
      </div>
    </div>
  </div>
</div>
