<div class='title-box'>
  <div class='home-link'>
    {{#link-to 'index'}}
      {{#if home}}
        <icon class="glyphicon glyphicon-home"></icon>
      {{/if}}
    {{/link-to}}
  </div>
  <div class='title-text'>
    {{yield}}
  </div>
</div>
