<div class='title-box'>
  {{#if home}}
    <div class='home-link'>
      <a href='/'>
        <icon class="glyphicon glyphicon-home"></icon>
      </a>
    </div>
  {{/if}}
  <div class='title-text'>
    {{yield}}
  </div>
</div>
