<div class='title-box'>
  <div class='home-link'>
    {{#liquid-if home}}
      {{#link-to 'index'}}
        <icon class="glyphicon glyphicon-home"></icon>
      {{/link-to}}
    {{/liquid-if}}
  </div>
  <div class='title-text'>
    {{yield}}
  </div>
</div>
