<div class='title-box'>
  <div class='home-link'>
    <a href='/'>
      {{#if home}}
        <icon class="glyphicon glyphicon-home"></icon>
      {{/if}}
    </a>
  </div>
  <div class='title-text'>
    {{yield}}
  </div>
</div>
