@import "variables";
@import "ember-bootstrap/bootstrap";
@import "index";
@import "components/press-box";
@import "components/title-bar";
@import "components/photo-slide";

@font-face {
    font-family: Bevan;
    src: url(Bevan-Regular.ttf);
}

@font-face {
    font-family: Paytone One;
    src: url(PaytoneOne.ttf);
}

@font-face {
    font-family: Shanti;
    src: url(Shanti-Regular.ttf);
}
