.index-links {
  background-color: #123247;
  height: 1050px;
  padding: 100px;
  width: 1400px;
}

.title-box {
  background-color: #607293;
  border: 2px solid black;
  border-radius: 10px;
  height: 20%;
  text-align: center;
  vertical-align: center;
}

.touch-links {
  height: 70%;
}

.touch-box {
  background-color: #607293;
  border: 2px solid black;
  border-radius: 10px;
  height: 50%;
  float: left;
  margin: 10px;
  width: 31%;
}
