@font-face {
    font-family: 'Bevan';
    src: local('Bevan'), url(fonts/Bevan-Regular.ttf);
}

@font-face {
    font-family: 'Paytone One';
    src: local('Paytone One'), url(fonts/PaytoneOne.ttf);
}

@font-face {
    font-family: 'Shanti';
    src: local('Shanti'), url(fonts/Shanti-Regular.ttf);
}
