.touch-links {
  width: 100%;
  overflow: auto;
  padding: 2vw;
}

// .forward-icon {
//   float: left;
// }
//
// .backward-icon {
//   float: right;
// }

.index-links {
  padding-top: 26vh;
  width: 100%;
}
