.touch-links {
  width: 100%;
  margin-left: 20px;
}

.home-link {
  font-size: $nav-icon-size;
}

// .forward-icon {
//   float: left;
// }
//
// .backward-icon {
//   float: right;
// }

.index-links {
  margin-top: 180px;
}

.touch-link-icon {
  -webkit-text-stroke: 1px white;
  font-size: $touch-link-icon-size;
}
