$background-color: #5D737E;
$box-color: #64B6AC;
$color3: #C0FDFB;
$color4: #DAFFEF;
$color5: #FCFFFD;

body {
  background-color: $background-color;
}

.title-box {
  background-color: $box-color;
  height: 20%;
  text-align: center;
  h1 {
    padding-top: 35px;
    font-size: 40px;
  }
}
