$home-icon-size: 3.8vw;

// color scheme
$background-color: #5D737E;
$box-color: #64B6AC;
$home-pressed-color: #FCFFFD;
$color5: #DAFFEF;
$selected-color: #C0FDFB;

// photo slide shows
$photo-margin: 10px;
$photo-link-margins: 0px 50px;
$photo-link-size: 110px;

// Text Styling
$level-text-size: 80px;
$year-text-size: 60px;
$meter-text-size: 40px;

// title
$title-font-size: 3.1vw;
$title-margin-top: 22px;
