// color scheme
$background-color: white;
$title-box-color: #5d7cce;
$home-pressed-color: #FCFFFD;
$color5: #DAFFEF;
$selected-color: #5d7cce;

// Text Styling
$level-text-size: 9vw;
$year-text-size: 5vw;
$meter-text-size: 3.5vw;
$level-text-size-mobile: 18vw;
$year-text-size-mobile: 10vw;
$meter-text-size-mobile: 7vw;

// title
$title-margin-top: 22px;
