$button-depth: 5px;
$pb-min-width: 100px;
$pb-min-height: 100px;
$link-box-height: 300px;
$link-box-width: 300px;
$nav-icon-size: 100px;

// color scheme
$background-color: #5D737E;
$box-color: #64B6AC;
$home-pressed-color: #FCFFFD;
$color5: #DAFFEF;
$selected-color: #C0FDFB;

// photo slide shows
$photo-margin: 10px;
