.ps-container {
  overflow: auto;
  -webkit-text-stroke: 1px white;
  margin-top: 20px;
  h1 {
    font-size: $level-text-size;
  }
  h2 {
    font-size: $year-text-size;
  }
  h3 {
    font-size: $meter-text-size;
  }
}

.ps-left {
  float: left;
  width: 20%;
}

.ps-photo {
  border: 2px solid black;
  background-repeat: no-repeat;
  background-size: auto;
  margin: auto;
  max-height: 725px;
}

.ps-centering {
  overflow: auto;
  margin: auto;
}

.ps-middle {
  float: left;
  width: 70%;
  height: 20%;
  align-items: center;
  img {
    width: 95%;
  }
}

.photo-link {
  width: $photo-link-size;
  height: $photo-link-size;
  float: left;
  margin: 0px 65px;
  img {
    width: 100%;
  }
}

.photo-link .selected {
  border: 5px solid $selected-color;
}

.photo-link .unselected {
  border: 2px solid black;
}

.photo-links {
  margin-left: 70px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 90%;
}
