.ps-container {
  margin-top: 30px;
  margin-right: 30px;
  margin-left: 30px;
  overflow: auto;
}

.ps-left {
  float: left;
  width: 20%;
}

.ps-middle {
  float: left;
  width: 70%;
  height: 20%;
  align-items: center;
  img {
    width: 95%;
  }
}

.photo-link {
  width: $photo-link-size;
  height: $photo-link-size;
  float: left;
  margin: 0px 65px;
  img {
    width: 100%;
  }
}

.photo-link .selected {
  border: 5px solid $selected-color;
}

.photo-links {
  margin-left: 70px;
  margin-top: 30px;
  text-align: center;
  width: 90%;
  overflow: auto;
}
