.pb-box-area {
  height: 22vw;
  width: 30vw;
  a {
    text-decoration: none;
    color: black;
  }
}

.pb-content {
  background-color: $title-box-color;
  background-size: 150%;
  width: 100%;
  height: 100%;
  text-align: center;
  margin: auto;
  border: 2vw solid white;
  border-radius: 25vw;
  h2 {
    text-align: center;
    font-size: 4vw;
  }
  .touch-link-icon {
    padding-top: 3vw;
    -webkit-text-stroke: 0.03vw white;
    font-size: 4vw;
  }
}

.media-mobile {
  .pb-content {
    .touch-link-icon {
      display: none;
    }
    h2 {
      font-size: 7vw;
      -webkit-text-stroke: 0.1vw white;
    }
  }
  .pb-box-area {
    width: 100%;
    float: left;
  }
}

.pb-content:active {

}
