.pb-box-area {
  height: 22vw;
  width: 30vw;
  a {
    text-decoration: none;
    color: black;
  }
}

.pb-content {
  background-color: $title-box-color;
  background-size: 150%;
  width: 100%;
  height: 100%;
  border: 2vw solid white;
  border-radius: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  h2 {
    margin-top: -0.5vh;
    text-align: center;
    font-size: 3vw;
    font-family: $links-font;
  }
  .touch-link-icon {
    padding-top: 3vw;
    font-size: 4vw;
  }
}

.media-mobile {
  .pb-content {
    border-radius: 5vw;
    margin-left: -2vw;
    .touch-link-icon {
      display: none;
    }
    h2 {
      font-size: 7vw;
    }
  }
  .pb-box-area {
    width: 100%;
    float: left;
  }
}

.pb-content:active {

}
