.photo-links {
  .forward-icon {
    font-size: 5vw;
    align-self: center;
  }

  .backward-icon {
    font-size: 5vw;
    align-self: center;
  }

  .arrow-placeholder {
    height: inherit;
    display: flex;
    width: 5vw;
  }
}
