.photo-link {
    display: inline-block;
  img {
    width: auto;
    height: 10vh;
    max-width: 13vw;
  }
}

.selected {
  outline: 0.5vw solid $selected-color;
}

.media-mobile {
  .photo-link {
    img {
      width: auto;
      height: 5vh;
    }
  }

  .selected {
    outline: 1vw solid $selected-color;
  }
}
