.photo-links {
  .forward-icon {
    font-size: 5vw;
    align-self: center;
  }

  .backward-icon {
    font-size: 5vw;
    align-self: center;
  }

  .arrow-placeholder {
    height: inherit;
    display: flex;
    width: 5vw;
  }
}

.photo-link {
    display: inline-block;
  img {
    width: auto;
    height: 10vh;
    max-width: 13vw;
  }
}

.selected {
  outline: 0.5vw solid $selected-color;
}
