.media-mobile {
  .title-text {
    font-size: 3.5vw;
  }

  .title-box {
    height: 5vw;
  }
}

.title-box {
  background-color: $title-box-color;
  height: 5%;
  text-align: center;
}

body {
  background: $base-white;
}

.home-link {
  position: absolute;
  width: 20%;
  color: $base-white;
  a {
    font-size: 3.8vw;
    float: left;
    color: $base-white;
    text-decoration: none;
  }
}

.title-text {
  font-size: 3.1vw;
  width: 100%;
  text-align: center;
  color: $base-white;
  font-family: $title-font;
}

.media-mobile {
  .title-text {
    font-size: 6vw;
  }

  .title-box {
    height: 10%;
  }

  .home-link {
    a {
      font-size: 7vw;
    }
  }
}
