.title-box {
  background-color: $box-color;
  height: 5vw;
  text-align: center;
  border: 0.18vw solid black;
}

body {
  background-color: $background-color;
}

.home-link {
  float: left;
  height: 100%;
  width: 20%;
  a {
    font-size: $home-icon-size;
    float: left;
    color: inherit;
    text-decoration: none;
  }
}

.title-text {
  font-size: $title-font-size;
  width: 80%;
  text-align: center;
}
