<div class='title-box'>
  <div class='home-link'>
    <a href='/'>
      <icon class="glyphicon glyphicon-home"></icon>
    </a>
  </div>
  <div class='title-text'>
    Mono Lake's Changing Water Levels
  </div>
</div>
{{outlet}}
