<div class='index-links'>
  <div class='touch-links'>
    <div class='nav-icon forward-icon'>
      <div class='arrow-placeholder'>
        {{#if showBackArrow}}
          <icon class='glyphicon glyphicon-triangle-left' {{action 'changeIdx' -1}}></icon>
        {{/if}}
      </div>
    </div>
    {{#each showingExhibits as |exhibit|}}
      {{#press-box exhibit=exhibit}}
        <div class='link-title'>
          <h2>{{upper exhibit.title}}</h2>
        </div>
      {{/press-box}}
    {{/each}}
    <div class='nav-icon backward-icon'>
      <div class='arrow-placeholder'>
        {{#if showForwardArrow}}
          <icon class='glyphicon glyphicon-triangle-right' {{action 'changeIdx' 1}}></icon>
        {{/if}}
      </div>
    </div>
  </div>
</div>
