<div class='title-box'>
  <h1>
    Mono Lake's Changing Water Levels
  </h1>
</div>
<div class='touch-links'>
  <div class='touch-box'>
    <h2>
      <a href='/negit'>
        Negit Island
      </a>
    </h2>
  </div>
  <div class='touch-box'>
    <h2>
      <a href='/tufa'>
        Tufa Benchmark
      </a>
    </h2>
  </div>
  <div class='touch-box'>
    <h2>
      <a href='/future'>
        Future of Mono Lake
      </a>
    </h2>
  </div>
</div>
