<div class='index-links'>
  <div class='touch-links'>
    <div class='nav-icon forward-icon'>
      {{#if showForwardArrow}}
        <icon class="glyphicon glyphicon-triangle-left"></icon>
      {{/if}}
    </div>
    {{#each exhibits as |exhibit|}}
      {{#press-box href=exhibit.route linkColor=exhibit.linkColor}}
        <div class='link-title'>
          <h2>{{upper exhibit.title}}</h2>
        </div>
      {{/press-box}}
    {{/each}}
    <div class='nav-icon backward-icon'>
      {{#if showBackArrow}}
        <icon class="glyphicon glyphicon-triangle-right"></icon>
      {{/if}}
    </div>
  </div>
</div>
