{{#title-bar home=false}}
  Mono Lake's Changing Water Levels
{{/title-bar}}
<div class='index-links'>
  <!-- <div class='nav-icon forward-icon'>
    <icon class="glyphicon glyphicon-triangle-left"></icon>
  </div> -->
  <div class='touch-links'>
    {{#press-box href='/negit' imagePath='/negit_1993.jpg'}}
      <h2> Negit Island </h2>
    {{/press-box}}
    {{#press-box href='/tufa' imagePath='/tufa_1962.jpg'}}
      <h2> Tufa Benchmark </h2>
    {{/press-box}}
  </div>
  <!-- <div class='nav-icon backward-icon'>
    <icon class="glyphicon glyphicon-triangle-right"></icon>
  </div> -->
</div>
