<div class='index-links'>
  <div class='title-box'>
    <h1> Mono Lake Water Levels </h1>
  </div>
  <div class='touch-links'>
    <div class='touch-box'>
      TOUCH OPTION 1
    </div>
    <div class='touch-box'>
      TOUCH OPTION 2
    </div>
    <div class='touch-box'>
      TOUCH OPTION 3
    </div>
  </div>
</div>
