<div class='index-links'>
  <div class='title-box'>
    <div class='title'>
      Mono Lake Water Levels
    </div>
  </div>
  <div class='touch-links'>
    <div class='touch-box'>
      <div class='touch-box-title'>
        Negit Island
      </div>
    </div>
    <div class='touch-box'>
      <div class='touch-box-title'>
        Tufa Benchmark
      </div>
    </div>
    <div class='touch-box'>
      <div class='touch-box-title'>
        Future of Mono Lake
      </div>
    </div>
  </div>
</div>
