{{#title-bar home=true}}
  Tufa as a Benchmark
{{/title-bar}}
{{photo-slide slide=currentSlide}}
<div class='photo-links'>
  {{#each slides as |slide|}}
    <img src={{slide.path}}>
  {{/each}}
</div>
